<mat-toolbar color="primary">
  Editar receta
  <span class="horizontal-spacer"></span>
  <button mat-icon-button (click)="goToList()">
    <mat-icon>view_list</mat-icon>
  </button>
</mat-toolbar>

<div class="edit-recipe__container"
     *ngIf="recipeDetails">
  <mat-card class="edit-recipe__card">
    <mat-card-content>
      <form class="edit-recipe__form" [formGroup]='form'>
        <mat-form-field appearance="fill">
          <mat-label>Título</mat-label>
          <input matInput
                type="text"
                formControlName="title"
                required>
          <mat-icon matSuffix>receipt</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Descripción</mat-label>
          <textarea matInput
                    formControlName="description"
                    required>
          </textarea>
        </mat-form-field>

        <mat-accordion multi>
            <mat-expansion-panel expanded>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Ingredientes
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-container formArrayName="ingredients">
                <ng-container *ngFor="let ingredientControl of ingredients.controls; let idx = index">
                  <ng-container [formGroupName]="idx">
                    <mat-form-field appearance="fill" class="w-100">
                      <mat-label>Ingrediente </mat-label>
                      <textarea matInput
                                formControlName="data"
                                required
                                placeholder="Ingredientes">
                      </textarea>
                      <button mat-icon-button
                              matSuffix
                              (click)="deleteControl(ingredients, idx)">
                        <mat-icon> delete </mat-icon>
                      </button>
                    </mat-form-field>
                  </ng-container>
                </ng-container>
              </ng-container>
              <mat-action-row>
                <button mat-button
                        color="basic"
                        (click)="addControl(ingredients, $event)">
                  Añadir ingrediente
                </button>
              </mat-action-row>
            </mat-expansion-panel>
            <mat-expansion-panel expanded>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Pasos
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-container formArrayName="steps">
                <ng-container *ngFor="let stepControl of steps.controls; let idx = index">
                  <ng-container [formGroupName]="idx">
                    <mat-form-field appearance="fill" class="w-100">
                      <mat-label>Paso {{ idx + 1 }}</mat-label>
                      <textarea matInput
                                formControlName="data"
                                required
                                placeholder="Introducir paso">
                      </textarea>
                      <button mat-icon-button
                              matSuffix
                              (click)="deleteControl(steps, idx)">
                        <mat-icon> delete </mat-icon>
                      </button>
                    </mat-form-field>
                  </ng-container>
                </ng-container>
              </ng-container>
              <mat-action-row>
                <button mat-button
                        color="basic"
                        (click)="addControl(steps, $event)">
                        Añadir paso
                </button>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>
      </form>
    </mat-card-content>

    <mat-card-actions>
      <button *ngIf="isOwnReceip; else isNotOwnReceip"
              mat-button
              [disabled]='form.invalid'
              (click)='editReceip()'>
              Actualizar receta
      </button>
      <button mat-button
              [disabled]='form.invalid'
              (click)='seeReceip()'>
              Ver receta
      </button>
      <ng-template #isNotOwnReceip>
        <button [disabled]=true
                mat-button>
                Sólo el propietario puede editar sus recetas
        </button>
      </ng-template>
    </mat-card-actions>
  </mat-card>
</div>
