
<mat-toolbar color="primary">
  Receipt list - WIP
  <span class="horizontal-spacer"></span>
  <button mat-icon-button  (click)="goToCreate()">
    <mat-icon>add_circle</mat-icon>
  </button>
</mat-toolbar>
<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let recipe of recipes">
      <mat-card class="mat-elevation-z4 cursor-pointer"
                (click)=goToRecipe(recipe)>
        <mat-card-header>
          <mat-card-title> {{recipe.title}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image alt="mountain" src="https://phantom-elmundo.unidadeditorial.es/0f2a609ccf6eaa5c150e4b178e26e90b/crop/0x0/700x466/resize/746/f/jpg/assets/multimedia/imagenes/2020/12/02/16069301750615.jpg">
        <mat-card-content>
          <p>
              {{ recipe.description }}
          </p>
          <p> {{ recipe.date | date }} </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)=goToRecipe(recipe)>VIEW </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
