
.recipe-list-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
}

.content > mat-card {
  width: 200px;
}

.recipe-image {
  height: 240px;
  object-fit: cover;
}

.recipe-description {
  min-height: 40px;
}
