<div class="p-2">
  @if (categories && categories.length) {
    <div class="mt-1">
      <app-recipes-multiple-select [formControl]="categoryFilter"
                                   label='Filtrar por categoría(s)'
                                   [options]="categories">
      </app-recipes-multiple-select>
    </div>
  }
  <div class="recipe-list-wrapper">
    @for (recipe of recipesFiltered; track recipe) {
      <div>
        <mat-card class="mat-elevation-z4">
          @if ((publicList() && recipe.ownerId === userId()) || recipe.private) {
            <app-recipe-ribbon>
              <span ribbon-body>{{ ribbonTitle() }}</span>
            </app-recipe-ribbon>
          }
          <mat-card-header (click)=goToRecipe(recipe) class="cursor-pointer">
            <mat-card-title> {{ recipe.title }}</mat-card-title>
          </mat-card-header>
          <img (click)=goToRecipe(recipe)
               class="cursor-pointer recipe-image mb-2"
               mat-card-image
               loading="lazy"
               alt="Imagen de la receta"
               [src]="recipe.imgSrc">
          <mat-card-content (click)=goToRecipe(recipe) class="cursor-pointer mb-2">
            <p class="recipe-description"> {{ recipe.description }} </p>
            <p> {{ recipe.date | date }} </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button
                    color="primary"
                    (click)="goToRecipe(recipe)">
              Ver
            </button>
            @if (recipe.ownerId === userId()) {
              <button mat-button
                      color="warn"
                      (click)="deleteRecipe(recipe)">
                Borrar
              </button>
            }
            @if (userId() && recipe.ownerId !== userId()) {
              <button mat-button
                      color="accent"
                      (click)="cloneRecipe(recipe)">
                Copiar receta
              </button>
            }
          </mat-card-actions>
        </mat-card>
      </div>
    }
  </div>
</div>
