<mat-toolbar color="primary">
  @if (!displaySearchControl) {
    <ng-content
      select="[title]">
    </ng-content>
  }
  <span class="horizontal-spacer"></span>
  @if (displaySearchButton) {
    <mat-icon
      (click)="switchSearchControl()"
      class="search-icon cursor-pointer mr-1"
      aria-hidden="false"
      aria-label="Search">search
    </mat-icon>
  }
  @if (displaySearchControl) {
    <div class="w-100 d-flex">
      <mat-form-field class="w-50 form-field__transparent">
        <input #search
          matInput
          type="search"
          autofocus
          autocomplete="off"
          [formControl]="searchFormControl">
      </mat-form-field>
    </div>
  }

  @if (userId) {
    <button mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Cerrar sesión</span>
      </button>
      <button mat-menu-item (click)="goToCreate()">
        <mat-icon>add_circle</mat-icon>
        <span>Crear receta</span>
      </button>
      <button mat-menu-item (click)="goToPrivateList()">
        <mat-icon>view_list</mat-icon>
        <span>Mis recetas</span>
      </button>
      <button mat-menu-item (click)="goToPublicList()">
        <mat-icon>list</mat-icon>
        <span>Ver todas las recetas</span>
      </button>
    </mat-menu>
  }

  @if (!userId && displayListButton) {
    <button mat-icon-button
      (click)="goToPublicList()">
      <mat-icon>list</mat-icon>
    </button>
  }
</mat-toolbar>
