<mat-toolbar color="primary">
  Listado de recetas
  <span class="horizontal-spacer"></span>
  <button mat-icon-button  (click)="goToCreate()">
    <mat-icon>add_circle</mat-icon>
  </button>
</mat-toolbar>
<div class="p-2">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%"
         *ngFor="let recipe of recipes">
      <mat-card class="mat-elevation-z4">
        <mat-card-header (click)=goToRecipe(recipe) class="cursor-pointer">
          <mat-card-title> {{recipe.title}}</mat-card-title>
        </mat-card-header>
        <img (click)=goToRecipe(recipe)
             class="cursor-pointer"
             mat-card-image
             loading="lazy"
             alt="Imagen de la receta"
             [src]="recipe.imgSrc">
        <mat-card-content (click)=goToRecipe(recipe) class="cursor-pointer">
          <p> {{ recipe.description }} </p>
          <p> {{ recipe.date | date }} </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)=goToRecipe(recipe)>Ver </button>
          <button mat-button
                  *ngIf="recipe.ownerId === userId"
                  color="warn"
                  (click)="deleteRecipe(recipe)">Borrar</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
