.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active
{
 background-color: transparent !important;
 color: #fff !important;
 outline-color: #fff !important;
  -webkit-box-shadow: 0 0 0 50px #555555 inset;
  box-shadow: 0 0 0 50px #555555 inset;
}

.mat-input-element {
  caret-color: #fff;
}
