@import './_variables.scss';

.horizontal-spacer {
  flex: 1 1 auto;
}

.margin-auto {
  margin: auto;
}

.mt-1 {
  margin-top: $space-default;
}

.mb-1 {
  margin-bottom: $space-default;
}

.mt-2 {
  margin-top: $space-2x;
}

.mb-2 {
  margin-bottom: $space-2x;
}

.p-2 {
  padding: $space-2x;
}

.mr-1 {
  margin-right: $space-default;
}
