@use '_variables.scss';

.horizontal-spacer {
  flex: 1 1 auto;
}

.margin-auto {
  margin: auto;
}

.mt-1 {
  margin-top: variables.$space-default;
}

.mb-1 {
  margin-bottom: variables.$space-default;
}

.mt-2 {
  margin-top: variables.$space-2x;
}

.mb-2 {
  margin-bottom: variables.$space-2x;
}

.p-2 {
  padding: variables.$space-2x;
}

.mr-1 {
  margin-right: variables.$space-default;
}
