<div class="recipe-card-form__container">
  <mat-card class="recipe-card-form__card mt-1">
    <mat-card-header>
      <mat-card-title>
        <ng-content select="[title]"></ng-content>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="recipe-card-form__form" [formGroup]='form'>
        <mat-form-field appearance="fill">
          <mat-label>Título</mat-label>
          <input matInput
            type="text"
            formControlName="title"
            required>
          <mat-icon matSuffix>receipt</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Descripción</mat-label>
          <textarea matInput
            formControlName="description"
            required
            cdkTextareaAutosize>
          </textarea>
        </mat-form-field>

        <div class="mb-2">
          <p>Imagen de la receta</p>
          @if (recipeImage) {
            <img
              mat-card-image
              class="preview-image"
              [src]="recipeImage"
              alt="Imagen de la receta"/>
          }
          @if (user) {
            <div [formGroup]="pictureForm">
              <mat-form-field appearance="outline" class="file-input__wrapper">
                <ngx-mat-file-input accept="image/*"
                  placeholder="Imagen de la receta"
                  formControlName="photo">
                  <mat-icon ngxMatFileInputIcon>folder</mat-icon>
                </ngx-mat-file-input>
                @if (pictureForm.controls['photo'].hasError('image')) {
                  <mat-error>
                    Formato de archivo incorrecto
                  </mat-error>
                }
              </mat-form-field>
            </div>
          }
          @if (submitted) {
            <mat-progress-bar [value]="uploadProgress$ | async" mode="determinate">
            </mat-progress-bar>
          }

          <button mat-raised-button
            color="primary"
            [disabled]="pictureForm.invalid || submitted"
            (click)="postImage()">
            Subir imagen
          </button>
        </div>

        <mat-accordion multi>
          <mat-expansion-panel expanded>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Ingredientes
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div formArrayName="ingredients"
              cdkDropList
              (cdkDropListDropped)="dropElement($event, ingredients.controls)">
              @for (ingredientControl of ingredients.controls; track ingredientControl; let idx = $index) {
                <div cdkDrag>
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Ingrediente {{ idx + 1 }}</mat-label>
                    <textarea matInput
                      [formControlName]="idx"
                      required
                      placeholder="Ingrediente"
                      cdkTextareaAutosize>
                    </textarea>
                    <button mat-icon-button
                      matSuffix
                      (click)="deleteControl(ingredients, idx)">
                      <mat-icon> delete </mat-icon>
                    </button>
                    <button class="cursor-move"
                      mat-icon-button
                      matSuffix
                      cdkDragHandle>
                      <mat-icon> drag_indicator </mat-icon>
                    </button>
                  </mat-form-field>
                </div>
              }
            </div>
            <mat-action-row>
              <button mat-button
                color="basic"
                (click)="addControl(ingredients, $event)">
                Añadir ingrediente
              </button>
            </mat-action-row>
          </mat-expansion-panel>
          <mat-expansion-panel expanded>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Pasos
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div formArrayName="steps"
              cdkDropList
              (cdkDropListDropped)="dropElement($event, steps.controls)">
              @for (stepControl of steps.controls; track stepControl; let idx = $index) {
                <div cdkDrag >
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Paso {{ idx + 1 }}</mat-label>
                    <textarea matInput
                      [formControlName]="idx"
                      required
                      placeholder="Paso"
                      cdkTextareaAutosize>
                    </textarea>
                    <button mat-icon-button
                      matSuffix
                      (click)="deleteControl(steps, idx)">
                      <mat-icon> delete </mat-icon>
                    </button>
                    <button class="cursor-move"
                      mat-icon-button
                      matSuffix
                      cdkDragHandle>
                      <mat-icon> drag_indicator </mat-icon>
                    </button>
                  </mat-form-field>
                </div>
              }
            </div>
            <mat-action-row>
              <button mat-button
                color="basic"
                (click)="addControl(steps, $event)">
                Añadir paso
              </button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
        @if (categories && categories.length) {
          <div class="mt-1">
            <p>Categorías</p>
            <app-recipes-multiple-select formControlName="categorySelect"
              [label]="'Categorías'"
              [options]="categories">
            </app-recipes-multiple-select>
          </div>
        }
        <mat-slide-toggle class="mt-1"
          formControlName="isPrivate">
          Privada
        </mat-slide-toggle>

      </form>
    </mat-card-content>

    <mat-card-actions>
      @if (!editingMode || (isOwnRecipe && editingMode)) {
        <button
          mat-raised-button
          color="primary"
          [disabled]='form.invalid || disabled()'
          (click)='sendRecipe()' >
          <ng-content select="[button-action-text]"></ng-content>
        </button>
      } @else {
        <button [disabled]=true
          mat-button >
          Sólo el propietario puede editar sus recetas
        </button>
      }
      @if (editingMode) {
        <button
          mat-button
          (click)='seeReceipt()' >
          Ver receta
        </button>
      }
    </mat-card-actions>
  </mat-card>
</div>
