<mat-toolbar color="primary">
  Receipt details - WIP
  <span class="horizontal-spacer"></span>
  <button mat-icon-button (click)="goToList()">
    <mat-icon>list</mat-icon>
  </button>
</mat-toolbar>

<div class="mt-8" *ngIf="recipeDetails">
  <div fxFlex="60%" fxFlex.lt-md="70%" fxFlex.lt-sm="100%" class="margin-auto p-16" >
    <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title> {{recipeDetails.title}}</mat-card-title>
          <mat-card-subtitle> {{ recipeDetails.date | date }} </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image
            loading="lazy"
            alt="cooking"
            src="https://source.unsplash.com/collection/190727/1600x900">
        <mat-card-content>
          <p> {{ recipeDetails.description }} </p>

          <mat-accordion multi>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Ingredients
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-selection-list class="custom-height-list" role="list">
                <ng-container *ngIf="(recipeDetails.ingredients && recipeDetails.ingredients.length > 0); else noIngredientsFound">
                  <mat-list-option *ngFor="let ingredient of recipeDetails.ingredients">
                    {{ ingredient }}
                  </mat-list-option>
                </ng-container>

                <ng-template #noIngredientsFound>
                  No ingredients found
                </ng-template>

              </mat-selection-list>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Steps
                </mat-panel-title>

              </mat-expansion-panel-header>
              <mat-selection-list class="custom-height-list" role="list">
                <ng-container *ngIf="(recipeDetails.steps && recipeDetails.steps.length > 0); else noStepsFound">
                  <mat-list-option *ngFor="let step of recipeDetails.steps">
                    {{ step }}
                  </mat-list-option>
                </ng-container>

                <ng-template #noStepsFound>
                  No steps found
                </ng-template>

              </mat-selection-list>
            </mat-expansion-panel>
          </mat-accordion>

        </mat-card-content>
        <mat-card-actions *ngIf="isOwnReceip">
          <button mat-button>EDIT </button>
          <button mat-button color="warn" (click)="deleteRecipe()">Delete</button>
        </mat-card-actions>
    </mat-card>
  </div>

</div>
