<app-toolbar [displayListButton]=true [displaySearchButton]=false>
  <h1 title>Detalles</h1>
</app-toolbar>

<div class="mt-1" *ngIf="recipeDetails">
  <div fxFlex="60%" fxFlex.lt-md="70%" fxFlex.lt-sm="100%" class="margin-auto p-2" >
    <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title> {{recipeDetails.title}}</mat-card-title>
          <mat-card-subtitle> {{ recipeDetails.date | date }} </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image
             class="recipe-details__image"
             loading="lazy"
             alt="cooking"
             [src]="recipeDetails.imgSrc">
        <mat-card-content>
          <p> {{ recipeDetails.description }} </p>
          <mat-accordion multi>
            <mat-expansion-panel *ngIf="(recipeDetails.ingredients && recipeDetails.ingredients.length > 0)">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Ingredientes
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-selection-list class="custom-height-list" role="list">
                <ng-container>
                  <mat-list-option *ngFor="let ingredient of recipeDetails.ingredients">
                    {{ ingredient }}
                  </mat-list-option>
                </ng-container>
              </mat-selection-list>
            </mat-expansion-panel>
            <mat-expansion-panel  *ngIf="(recipeDetails.steps && recipeDetails.steps.length > 0)">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Pasos
                </mat-panel-title>

              </mat-expansion-panel-header>
              <mat-selection-list class="custom-height-list" role="list">
                <ng-container>
                  <mat-list-option *ngFor="let step of recipeDetails.steps">
                    {{ step }}
                  </mat-list-option>
                </ng-container>
              </mat-selection-list>
            </mat-expansion-panel>
          </mat-accordion>

        </mat-card-content>
        <mat-card-actions *ngIf="isOwnReceip">
          <button mat-raised-button
                  color="primary"
                  (click)="editRecipe()">
                  Editar
          </button>
          <button mat-button
                  color="warn"
                  (click)="deleteRecipe()">
                  Borrar
          </button>
        </mat-card-actions>
    </mat-card>
  </div>
</div>
