.recipe-card-form__container {
  padding: 0;
  margin-top: 25px;
  padding-bottom: 25px;

  .recipe-card-form__card {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .recipe-card-form__form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .preview-image {
    max-height: 400px;
    object-fit: cover;
  }
}
