<mat-form-field appearance="fill">
  <mat-label>{{ label() }}</mat-label>
  <mat-select #matmat [formControl]="elementSelectControl" multiple [compareWith]="compareElements">
    <mat-select-trigger>
      {{ selectedDetail() }}
      @if (selectedCountText()) {
        <span class="example-additional-selection">
          {{ selectedCountText() }}
        </span>
      }
    </mat-select-trigger>
    @for (element of options(); track element) {
      <mat-option [value]="element">{{element.detail}}</mat-option>
    }
  </mat-select>
</mat-form-field>
