<mat-form-field appearance="fill">
  <mat-label>{{ label() }}</mat-label>
  <mat-select #matmat [formControl]="elementSelectControl" multiple [compareWith]="compareElements">
    <mat-select-trigger>
      {{ elementSelectControl.value ? elementSelectControl.value[0]?.detail : '' }}
      @if (elementSelectControl.value?.length > 1) {
        <span class="example-additional-selection">
          (+{{elementSelectControl.value.length - 1}} {{elementSelectControl.value?.length === 2 ? 'otro' : 'otros'}})
        </span>
      }
    </mat-select-trigger>
    @for (element of options(); track element) {
      <mat-option [value]="element">{{element.detail}}</mat-option>
    }
  </mat-select>
</mat-form-field>

