<mat-card class="login__card">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="login__form" [formGroup]='form'>
      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput
               placeholder="pat@example.com"
               type="text"
               formControlName="email"
               required autocomplete="nope">
        <mat-icon class="email__icon" matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-error *ngIf="form.controls.email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput
               formControlName="password"
               [type]="passWordHidden ? 'password' : 'text'"
               autocomplete="nope">
        <button mat-icon-button
                matSuffix
                (click)="passWordHidden = !passWordHidden"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="passWordHidden">
          <mat-icon>{{passWordHidden ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button (click)='login()'>Login</button>
  </mat-card-actions>
</mat-card>
