@import "../_variables";

 .custom-height-list.mat-list-base .mat-list-item,
 .custom-height-list.mat-list-base .mat-list-option {
   .mat-list-text {
    padding: $space-default;
  }

  height: auto!important;
  margin-bottom: $space-2x;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: white;
}

.form-field__transparent {
  .mdc-text-field.mdc-text-field, input {
    background-color: transparent;
  }
  .mdc-line-ripple {
    display: none;
  }

 /* &.mat-mdc-form-field:hover .mat-mdc-form-field-focus-overlay {
    opacity: 0;
  }*/
}

.mdc-card {
  .mat-mdc-card-header {
    .mat-mdc-card-title {
      margin-bottom: $space-default;
    }
  }

  .mdc-card__actions {
    gap: $space-2x;
  }
}
