@import "../_variables";

 .custom-height-list.mat-list-base .mat-list-item,
 .custom-height-list.mat-list-base .mat-list-option {
   .mat-list-text {
    padding: $space-default;
  }

  height: auto!important;
  margin-bottom: $space-2x;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: white;
}
