.new-recipe__container {
  padding: 0;
  margin-top: 25px;
}

.new-recipe__card {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.new-recipe__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.email__icon {
  width: 28px;
}

.preview-image {
  max-width: 100%;
}
