.new-recipe__container {
  padding: 0;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-recipe__card {
  width: 80%;
  margin: auto;
}

.new-recipe__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.email__icon {
  width: 28px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active
{
 background-color: transparent !important;
 color: #fff !important;
 outline-color: #fff !important;
  -webkit-box-shadow: 0 0 0 50px #555555 inset;
  box-shadow: 0 0 0 50px #555555 inset;
}
